<style>
/* unvisited link */
a:link {
    color: #FFFFFF;
}
/* mouse over link */
a:hover {
    color: #000066;
}
header {
  margin-top: 30px;
  font-family: 'PT Serif', sans-serif;
  background: #356CA3;
  border: 12px solid black; 
  padding: 20px;
}
body {
  font-family: 'PT Serif', sans-serif;
  background: #898D95;
}
.container {
   text-align: center;
    margin: 0 auto;
     max-width: 1000px;
}
  img {
    margin: 5px;
    border: 5px solid black;   
  }
  .intro {
    color: #000000;
/*    padding: 10px;*/
    border: 3px solid black;
    background: #375572;
    margin: 0px;
  }
h1 {
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: 2px;
}
h2 {
  text-align: center;
  font-family: 'PT Serif', sans-serif;
  background: #375572;
  padding: 10px;
  color: #000000;
  border-radius: 25px;
  border:solid;  
  border: 5px solid black;
  margin: 10px 0px 0px 0;
}
h2:hover {
   opacity: 0.6;
}
h3 {
    text-align: center;
    font-family: 'PT Serif' sans-serif;
    color: black;
    background: #375572;
    padding: 10px;
    font-size: 20px;
    margin: 2px;
    }
.links ul li{
      padding: 5px;
      font-family: 'PT Serif' sans-serif;
      background: #375572;
      text-transform: uppercase;
      margin: 10px auto;
      display: inline;
      text-align:center;
      font-weight: bold;
      /*border: 2px solid #898D95;*/

    }
p {
      background:#356CA3;
      margin: 0px auto;
      font-size: 20px;
      padding:10px;
      /*border-radius: 25px;*/
      text-align: center;
      font-family: 'PT Serif' sans-serif;

    }
.main-text {
      background:#356CA3;
      margin: 0px auto;
      font-size: 20px;
      padding:10px;
      border: solid;
      border: 5px solid black;
      text-align: center;
      font-family: 'PT Serif' sans-serif;
    }
.email-submit {
    text-align: center;
    font-family: 'PT Serif' sans-serif;
    color: black;
    padding: 15px;
    line-height: 10px
    display: inline;
}
footer {
    padding: 15px;
    background: #375572;
    font-family: 'PT Serif', sans-serif;
    color: black;
    text-align: center;
    border: 5px solid black;
    margin-bottom: 35px;
    margin-right: 45px;
    margin-left: 45px;

}
}


